* {
    font-family: 'Microsoft YaHei', Microsoft YaHei;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Microsoft YaHei', Microsoft YaHei;
    font-weight: bolder;
}

body ::-webkit-input-placeholder {
    font-family: 'Microsoft YaHei', Microsoft YaHei;
    font-weight: bolder;
}

body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Microsoft YaHei', Microsoft YaHei;
    opacity: 1;
    font-weight: bolder;
}

body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Microsoft YaHei', Microsoft YaHei;
    opacity: 1;
    font-weight: bolder;
}

body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Microsoft YaHei', Microsoft YaHei;
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 10px; /*对垂直流动条有效*/
    height: 10px; /*对水平流动条有效*/
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    background: #FFFFFF;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background: rgba(174, 174, 174, 0.39);
}

.wrapper {
    background-color: #2d3a4b;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    -ms-transform: translateY(85px);
    transform: translateY(85px);
    font-size: 70px;
}

.container {
    max-width: 600px;
    margin: 10% auto;
    height: 400px;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    color: white;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    font-weight: 200;
}

form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
    border-radius: 30px;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input::-webkit-input-placeholder {
    color: white;
}

form input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
}

form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: black;
    border-radius: 30px;
    width: 300px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

form button:after {
    content: '   »';
    opacity: 0;
    top: 0;
    transition: 2s;
}

form button:hover {
    padding-right: 25px;
}

form button:hover:after {
    opacity: 1;
    right: 0;
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

.timg {
    box-sizing: border-box;
    width: 282px;
    padding: 60px 5px;
    margin: 10% auto 10%;
    background: hsla(0, 0%, 100%, .25);
    text-align: center;
    position: relative;
    z-index: 900;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: 282px 292px;
    -webkit-mask-image: url(../img/timg.png);
}

.timg.form-success {
    background: hsla(0, 0%, 100%, 0);
}

.times {
    font: 300 70px/70px Open Sans, arial, sans-serif;
    margin: 12px 0 20px;
    cursor: pointer;
    color: white;
}

.times.form-success {
    display: none;
}
